.about-section {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: black;
    height: auto;
    font-size: 25px;
}
.about-section span{
    margin: 10px;  
}
.about-section img {
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border: solid #000;
    border-color: black;
    border-width: 1px;
    
}
@media screen and (max-width: 600px) {
    .about-section {
        display: inline;
        margin-left: auto;
        margin-right: auto;
    }
  }