.pieces-container {
    /* display: block; */
    columns: 3;
    align-content: space-between;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

@media (max-width: 1300px) {
    .pieces-container {
        columns: 2;
        max-width: 900px;
    }
  }

@media screen and (max-width: 1000px) {
    .pieces-container {
        columns: 1;
        max-width: 400px;
    }
  }