.piece-modal {
    display: none;
    z-index: 8;
    border: solid #000;
    border-color: black;
    border-width: 2px;
    background-color: white;
    position: fixed;
    top: 10vh;
    left: 10vw;
    height: 0px;
    width: 0px;
    transition: height 0.2s ease-out, width 0.2s ease-out;
    color: black
}
.piece-modal-open{
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 80vw;
}
.piece-modal-image-container {
    height: 100%;
    width: 40vw;
    background-color: rgb(185, 185, 185);
    border-right: solid #000;
    border-color: black;
    border-width: 2px;
    display: flex;
}
.piece-modal-current-image {
    margin: auto;
    border: 2px solid black;
    max-width: 70%;
}
.image-scroll {
    padding: 4px;
    border: 2px solid black;
    background-color: white;
    font-size: xx-large;
    margin: auto;
}
.piece-modal-info {
    display: flex;
    padding: 3vw;
    flex-direction: column;
    height: 100%;
    width: 50vw;
    background-color: rgb(226, 226, 226);
}
.piece-modal-info * {
    margin-left: 10px;
    margin-bottom: auto;
}
.title {
    font-size: xx-large;
}
.description {
    font-size: x-large;
}
.measurements {
    font-size: x-large;
}
.buy-button {
    font-weight: 900;
    max-width: 300px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    font-size: x-large;
    border: solid #000;
    border-color: black;
    border-width: 2px;
    background-color: white;
    border-radius: 2px;
    display: flex;
}
.buy-button span{
    margin: auto;
}
.modal-close-button {
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
}
.modal-close-button span{
    font-size: xx-large;
}

@media screen and (max-width: 1000px) {
    .piece-modal-open {
        flex-direction: column;
        height: auto;
    }
    .piece-modal-image-container {
        /* width: 100%; */
        height: 400px;
        width: 100%;
    }
    .piece-modal-info {
        width: auto;
        height: auto;
    }
    .piece-modal-info .description, .piece-modal-info .measurements{
        font-size: medium;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

@media (max-height: 800px) {
    .piece-modal-image-container {
        height: 300px;
    }
}
