.pieces-container {
    columns: 3;
    column-fill: balance;
    align-content: space-between;
    max-width: 1350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

@media (max-width: 1300px) {
    .pieces-container {
        columns: 2;
        max-width: 900px;
    }
  }

@media screen and (max-width: 1000px) {
    .pieces-container {
        columns: 1;
        width: auto;
        max-width: 350px;
        margin-left: max(auto, 15px);
        margin-right: max(auto, 15px);
    }
  }